@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-50:  253 243 244;
  --brand-100: 248 219 221;
  --brand-500: 206 13 30;
  --brand-600: 175 11 26;
  --brand-700: 144 9 21;
}

html { scroll-behavior: smooth; }
body { font-family: var(--font-inter), 'Inter', sans-serif; color: #000000; }
