@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-50:  248 253 221;
  --brand-100: 241 251 188;
  --brand-500: 207 242 30;
  --brand-600: 176 206 26;
  --brand-700: 145 169 21;
}

html { scroll-behavior: smooth; }
body { font-family: 'Inter', sans-serif; color: #000000; }
